

.Intro{
color: #33ff33;
padding: 20px;
font-size: 14px;
font-family: consolas;
text-emphasis-style: sesame;
text-decoration-color: #ff471a;
opacity: 100%;
border-radius: 100%;

margin: 60px;
}

body{
  background-image: url("img/backg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  color: black;
  font-family: 'Neuton', sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-feature-settings: normal;
  font-weight: lighter;
  backdrop-filter: blur(8px);


}

.Intro h1 p {
background-color: cyan;
border-radius: 20px;
font-family: monospace;
backdrop-filter: blur(8px);
}
hr {
border-color: rgba(255,255,255,0.4);
border-width: 10px;
background-color: rgba(255,255,255,0.2);
height: 30px;
width: 95%;
border-radius: 20px;
}
table, th, td {
border-width: 60%;
border-radius: 10px;
padding: 5px;
}
table {
border-spacing: 15px;
border-color: black;
border-width: 10px;
border-radius: 20px;
}
.Intro table:hover{
  background-image: url("img/backg4.jpg");
  background-color: rgba(105, 111, 105, 0.6);
  opacity: 100%;
}

.Table table:hover {
  background-color: rgba(255, 215, 0, 0.8);
}
.Table tr:hover {
  background-image: url("img/1.jpg");
  font-weight: bold;
  color: cropped;

}
.Table td:hover {
  font-weight: bold;
}

.Table{
background-image: url("img/table.gif");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 80%;
border-radius: 30px;
border-color: rgba(255, 0, 0, 0.5);
border-width: thin;
backdrop-filter: blur(20px);

}
.Table > div {

  opacity: 30%;

}
.tr1 {
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(176,224,230,0.3),rgba(0, 0, 0, 0.3));
}
@media (max-width: 700px) {
  .Table {
    display: block;
  }
  .Intro {
    display: block;
  }
}
.bottom-container {
  text-align: center;
}
