

.Intro{
color: #33ff33;
padding: 1rem;
font-size: 1rem;
font-family: consolas;
text-emphasis-style: sesame;
opacity: 100%;
margin-top: 5rem;

}
.Intro table {
  text-align: center;
  margin: 0 auto 0 auto;

}
body{
  background-image: url("img/backg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  color: black;
  font-family: 'Neuton', sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-feature-settings: normal;
  font-weight: lighter;
  backdrop-filter: blur(10px);

  border: none;


}
p {
  margin: auto;
  line-height: 2;
}

.Intro h1 p {
background-color: cyan;
border-radius: 2rem;
font-family: monospace;
backdrop-filter: blur(8px);
}
hr {
  border: dotted #EAF6F6 0.4rem;
  border-bottom: none;
  width: 4%;
  margin: 5rem auto 5rem auto;

}
table, th, td {
border-width: 60%;
border-radius: 1rem;
padding: 0.5rem;
}
table {
border-spacing: 0.5rem;
border-color: black;
border-width: 1rem;
border-radius: 1rem;
}
.Intro table:hover{
  background-image:linear-gradient(rgba(255,255,255,0.3),rgba(176,224,230,0.3),rgba(0, 0, 0, 0.3));
}

.Table table:hover {
  background-color: rgba(0, 0, 215, 0.2);
  background-image: url("img/backg3.jpg");
}
.Table tr:hover {
  background-image: url("img/1.jpg");
  font-weight: bold;
  color: cropped;

}
.Table td:hover {
  font-weight: bold;
}
.Table td {
  font-size: 1rem;
}

.Table{
background-image: url("img/table.gif");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 80%;
border-radius: 3rem;
border-color: rgba(255, 0, 0, 0.5);
border-width: thin;
backdrop-filter: blur(20px);
position: relative;
down: 3rem;

}
.Table > div {

  opacity: 30%;

}
.tr1 {
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(176,224,230,0.3),rgba(0, 0, 0, 0.3));
}
@media only screen and (max-width: 600px) {
  .Table {
    display: -webkit-box;
  }
  .Intro {
    display: block;
  }
  .para {
    width: 100%;
  }
}
.bottom-container {
  text-align: center;
  font-family: 'Simonetta', sans-serif;
  font-weight: bold;
  font-size: 1.0rem;
}
@keyframes blink {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}
.downarr img {
    animation: blink 1.4s;
    animation-iteration-count: infinite;
    display:block;
}
.downarr {
  position: absolute;
  text-align: center;
  left: 43%
}
.para {
  width: 50%;
  margin: 10rem auto 10rem auto;
  border-radius: 3rem;
}
a {
  color: rgba(150, 0, 0, 0.7);
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(176,224,230,0.3),rgba(0, 0, 0, 0.3));
  border-radius: 0.4rem;
  margin: 1rem 2rem;
  font-size: 1rem;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  font-family: 'Simonetta', sans-serif;
  background-image: linear-gradient(rgba(0, 0, 200, 0.5);rgba(0, 0, 255, 0.5));
}
.bottom-space {
  height: 7rem;
}
